.video-layout {
  .grid-container {
    height: calc(40vh - 20px);
    background-color: rgba(0, 0, 0, 0.1);
    display: grid;
    grid-gap: 10px;
    margin: 15px 100px 0px 100px;
    text-align: center;

    @media (max-width: 768px) {
      grid-template-columns: 1fr; /* Single column layout on smaller screens */
    }

    div {
      background-color: white;

      &.css-46bh2p-MuiCardContent-root {
        padding: 0px;
      }
    }

    .card-layout {
      position: relative;

      .text-type-wrapper {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: none;
      }

      .card-bottom-wrapper {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        padding-right: 10px;
        background-color: black;
        opacity: 0.5;
        justify-content: space-between;

        .text-wrapper {
          background-color: inherit;
        }

        button, p {
          color: white;
        }
      }
    }

    &.layout-1 {
      grid-template-areas: "v1";

      .layout-inner-1 {
        grid-area: v1;
      }
    }

    &.layout-2 {
      grid-template-columns: 1fr 1fr; /* Two equal columns */
    }

    &.layout-3 {
      grid-template-areas:
        "v1 v2 v3";
      @for $i from 1 through 3 {
        .layout-inner-#{$i} {
          grid-area: v#{$i};
        }
      }
    }

    &.layout-4 {
      grid-template-columns: 1fr 1fr; /* Two equal columns */
      grid-template-rows: auto auto; /* Two equal rows */
    }

    &.layout-5 {
      grid-template-areas:
        "v1 v1 v2 v2 v3 v3"
        "v4 v4 v4 v5 v5 v5";
      @for $i from 1 through 5 {
        .layout-inner-#{$i} {
          grid-area: v#{$i};
        }
      }
    }

    &.layout-6 {
      grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
      grid-template-rows: auto auto; /* Two equal rows */
    }

    &.layout-7 {
      grid-template-areas:
        "v1 v2 v3"
        "v4 v5 v6"
        ". v7 .";
      @for $i from 1 through 7 {
        .layout-inner-#{$i} {
          grid-area: v#{$i};
        }
      }
    }

    &.layout-8 {
      grid-template-areas:
        "v1 v1 v2 v2 v3 v3"
        "v4 v4 v5 v5 v6 v6"
        ". v7 v7 v8 v8 .";
      @for $i from 1 through 8 {
        .layout-inner-#{$i} {
          grid-area: v#{$i};
        }
      }
    }

    &.layout-9 {
      grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
      grid-template-rows: auto auto auto; /* Three equal rows */
    }

    &.layout-10 {
      grid-template-areas:
        "v1 v2 v3"
        "v4 v5 v6"
        "v7 v8 v9"
        ". v10 .";
      @for $i from 1 through 10 {
        .layout-inner-#{$i} {
          grid-area: v#{$i};
        }
      }
    }

    &.layout-11 {
      grid-template-areas:
        "v1 v1 v2 v2 v3 v3"
        "v4 v4 v5 v5 v6 v6"
        "v7 v7 v8 v8 v9 v9"
        ". v10 v10 v11 v11 .";
      @for $i from 1 through 11 {
        .layout-inner-#{$i} {
          grid-area: v#{$i};
        }
      }
    }

    &.layout-12 {
      grid-template-columns: 1fr 1fr 1fr 1fr; /* Four equal columns */
      grid-template-rows: auto auto auto auto; /* Four equal rows */
    }
  }

  .video-tools-wrapper {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}
